###Becca's Notebook
####Using bigquery to read in HackerNews df. Cleaning and preprocessing for use with vaderSentiment model.

In [1]:
import sys, os
cwd = os.getcwd()
sys.path[0] = cwd[:cwd.rfind('/')]

In [2]:
#Imports
import os
import numpy as np
import pandas as pd

from google.cloud import bigquery

In [5]:
#Google cloud credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS']='/content/Saltiest HN Trolls.json'

# Create a "Client" object
client = bigquery.Client()

# Bigquery dataset reference
hn_ref = client.dataset('hacker_news', project='hn-dataset')

In [6]:
# Run SQL query to obtain filtered table
query_string = """
SELECT C.by
FROM (
  SELECT A.by, COUNT(*) AS count
  FROM `bigquery-public-data.hacker_news.full` AS A
  GROUP BY A.by
  ORDER BY count DESC
  LIMIT 100
) AS C
WHERE C.by != "None"
"""

frequent_users = client.query(query_string).result().to_dataframe()

In [7]:
# This is a triple-nested query that gets a number of comments made only by the most
# frequent users.  Change the "LIMIT XXX" part of the inner-most query to tune the
# number of users.  Change the outermost "LIMIT YYY" to change the total number of comments.
query_string = """
SELECT *
FROM `bigquery-public-data.hacker_news.full` AS A
WHERE A.by IN (
  SELECT C.by
  FROM (
    SELECT A.by, COUNT(*) AS count
    FROM `bigquery-public-data.hacker_news.full` AS A
    GROUP BY A.by
    ORDER BY count DESC
    LIMIT 500
  ) AS C
  WHERE C.by != "None"
)
LIMIT 50000
"""

df = client.query(query_string).result().to_dataframe()

In [8]:
# filter out by type (keep story and comment)
df[(df['type'] == 'story') | (df['type'] == 'comment')]

                                                   title  ... deleted
0                                                   None  ...    None
1      How Japan learnt how to stop worrying and love...  ...    None
2                                                   None  ...    None
3                                                   None  ...    None
4                                                   None  ...    None
...                                                  ...  ...     ...
49995                                               None  ...    None
49996                                               None  ...    None
49997                                               None  ...    None
49998                                               None  ...    None
49999                                               None  ...    None

[49980 rows x 14 columns]

In [9]:
# drop some columns
#drop title, has 447,218 null values 
#drop ranking, has 500000 null values
#drop score, has 446968 null values 
clean_df = df.drop(['time', 'descendants', 'deleted', 'url', 'dead', 'title', 'ranking', 'score'], axis=1)

In [10]:
#only 507 comments with 5 characters or less, upon analysis doesn't look like they provide much context, 
#not helpful for model analysis so drop comments with 5 words or less

# take only the rows whose text column's length is greater than five
# this also removes the texts that are None
clean_df = clean_df[clean_df['text'].str.len() > 5]

In [11]:
# Use BS on a single piece of text to remove strange chars and URLs and tags
from bs4 import BeautifulSoup

def clean_soup(text):
    # make a soup - this takes care of strange characters
    soup = BeautifulSoup(text, "html.parser")

    # delete <a> tags as they contain URLs -- remember <a href="url_here">
    # tags contain URLs
    for s in soup.select('a'):
       s.extract()

    # the soup contains <p> tags -- here we get rid of those and join them with spaces
    strings = soup.find_all(text=True, recursive=True)
    result = ' '.join(strings)

    return result

In [12]:
# Apply that to each comment/story text
clean_text = clean_df['text'].apply(clean_soup)

In [13]:
clean_df['text'] = clean_text

In [14]:
import pandas as pd
pd.options.display.max_colwidth = 100
clean_df.sample(10)

                                                                                                      text  ...      parent
9469   With the evidence being: (a) The same survey cited incorrectly by the person I was responding to...  ...   9785523.0
32247  Stop being a perfectionist, build something and get it out there as soon as possible. Don't wast...  ...    356663.0
31581  I had another comment today to attract a few surprising downvotes.   Perhaps everyone's still a ...  ...   7536151.0
27282          Based on this article Cloud Kitchens is competing with Uber Eats so my guess is that's why.  ...  21872397.0
43561  It's about 10,000 to 15,000 yen.  (Source:    <-- incidentally, this is  the site  to get inform...  ...   9323243.0
2825   Good point. I didn't say I agree with it, but I don't know enough to disagree as well. I just kn...  ...   6549322.0
30245  You're not wrong. I'm just responding to someone who's asking about theory, and I'm explaining w...  ...  23276845.0
25176     I'm not sure when you last visited, but PeepCode has been $12 per video for quite some time now.  ...   3177257.0
39210  I used Common Lisp from the mid 1980s until about 5 years ago when my customers wanted Clojure, ...  ...   9382932.0
19319  > I sweat more than needed. Meaning, you get  too  cold when you sweat? > Tricking my body into ...  ...  19996962.0

[10 rows x 6 columns]

In [15]:
#makes sense the parent would have some null values, if they are the first comment
clean_df.isnull().sum()

text          0
by            0
timestamp     0
type          0
id            0
parent       81
dtype: int64

###Pyrom's Notebook
####Using vaderSentiment to produce 'Saltiness' score for each Username. The higher the score, the more salty. 

####VADERSentiment is a pretrained model that processes texts and calculates their sentiment values.

In [16]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 2.8MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.4.5.2)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [17]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [18]:
#Panda Settings
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [19]:
#Drop misc columns
df = clean_df.drop(columns=['timestamp', 'type', 'parent'])
#Convert to string values
df = df.astype(str)
df.head()

,text,by,id
0,"Excellent, thanks for the advice. Do you know whether it's more likely to get a visa with a larg...",k-mcgrady,7789132
2,What? No.,PhasmaFelis,18195338
3,"You don't get a very big explosion with just a fuse, and no combustible material. Without the co...",barrkel,1810160
4,"One way of looking at it is: If rents are lower, property values are lower. If property values a...",brudgers,13585153
6,'... I am trying to find coders so that I can make my idea tangible ...' Help! I'm trying to fi...,bootload,13016

In [20]:
#Slim out users with less than 1000 comments, more manageable, cuts data in half
def slim(df):
    """
    Slim out dataset to user with 1000 or more comments.

    Returns a filtered dataframe.
    """

    X = df.copy()
    X = X.groupby('by').filter(lambda x: x['by'].count()<1000)

    return X

In [21]:
#Apply function
new_df = slim(df)
print(new_df.shape)
new_df.head()

(44739, 3)

,text,by,id
0,"Excellent, thanks for the advice. Do you know whether it's more likely to get a visa with a larg...",k-mcgrady,7789132
2,What? No.,PhasmaFelis,18195338
3,"You don't get a very big explosion with just a fuse, and no combustible material. Without the co...",barrkel,1810160
4,"One way of looking at it is: If rents are lower, property values are lower. If property values a...",brudgers,13585153
6,'... I am trying to find coders so that I can make my idea tangible ...' Help! I'm trying to fi...,bootload,13016

In [22]:
#Machine Learning, using VADER Sentiment Analysis
def sentiment_score(comment):
    analyser = SentimentIntensityAnalyzer()
    
    x = 0
    score = analyser.polarity_scores(comment)
    x = x + score['pos']
    x = x + score['compound']
    x = x - score['neg'] 

    return x

In [23]:
#Apply function to 'text' column
new_df['Saltiness'] = new_df['text'].apply(sentiment_score)
new_df.head()

,text,by,id,Saltiness
0,"Excellent, thanks for the advice. Do you know whether it's more likely to get a visa with a larg...",k-mcgrady,7789132,0.9810
2,What? No.,PhasmaFelis,18195338,0.0000
3,"You don't get a very big explosion with just a fuse, and no combustible material. Without the co...",barrkel,1810160,-1.1642
4,"One way of looking at it is: If rents are lower, property values are lower. If property values a...",brudgers,13585153,0.5058
6,'... I am trying to find coders so that I can make my idea tangible ...' Help! I'm trying to fi...,bootload,13016,1.0220

In [24]:
#Generate User_ID
new_df['User_ID'] = new_df.groupby(new_df.by.tolist(), sort=False).ngroup() + 1000
new_df.head()

,text,by,id,Saltiness,User_ID
0,"Excellent, thanks for the advice. Do you know whether it's more likely to get a visa with a larg...",k-mcgrady,7789132,0.9810,1000
2,What? No.,PhasmaFelis,18195338,0.0000,1001
3,"You don't get a very big explosion with just a fuse, and no combustible material. Without the co...",barrkel,1810160,-1.1642,1002
4,"One way of looking at it is: If rents are lower, property values are lower. If property values a...",brudgers,13585153,0.5058,1003
6,'... I am trying to find coders so that I can make my idea tangible ...' Help! I'm trying to fi...,bootload,13016,1.0220,1004

In [25]:
new_df.sort_values(by='by')

,text,by,id,Saltiness,User_ID
20386,"He said that Google had ""commissioned"" the study but the views expressed it it were solely his a...",001sky,4623730,-0.1661,1117
18622,Just playing devils advocate - but who wants to be a utility?,001sky,4490940,-0.3072,1117
23683,"I hate, hate, hate the anti-scientific view that busted carbon promotes WAT? Are you a material...",001sky,4449847,-0.9407,1117
16860,Large hedge trades involve block shopping ELI5 version is that you need to pay for (1) working c...,001sky,7532892,0.9773,1117
162,tptacek--Why are you even in this thread if you're just interjecting rhetorical questions? Both ...,001sky,7537739,-0.2752,1117
...,...,...,...,...,...
4383,LibreOffice has Base which can use either embedded database system or talk to proper RDBMS like ...,zokier,21402785,0.6203,1434
29113,"If they actually strapped an iPhone into the capsule, then it would have been interesting to cap...",zokier,1751723,0.5259,1434
30649,> And regular people don't just have an NMR spectrometer at home. I've only watched NurdRage vid...,zokier,15467835,0.9691,1434
7203,I would go further than that and only allow single formatting style in the language at all. Make...,zokier,17847751,-0.2333,1434
39161,"It doesn't really look that impressive. Sure, the tech probably is very advanced, but the gait...",zokier,8319955,1.1582,1434

In [26]:
print("Max User_ID:", new_df['User_ID'].max())

Max User_ID: 1496

In [27]:
#Multiply Saltiness by -1, the higher the score=the more salty
new_df['Saltiness'] = new_df['Saltiness'].mul(-1)
new_df.head()

,text,by,id,Saltiness,User_ID
0,"Excellent, thanks for the advice. Do you know whether it's more likely to get a visa with a larg...",k-mcgrady,7789132,-0.9810,1000
2,What? No.,PhasmaFelis,18195338,-0.0000,1001
3,"You don't get a very big explosion with just a fuse, and no combustible material. Without the co...",barrkel,1810160,1.1642,1002
4,"One way of looking at it is: If rents are lower, property values are lower. If property values a...",brudgers,13585153,-0.5058,1003
6,'... I am trying to find coders so that I can make my idea tangible ...' Help! I'm trying to fi...,bootload,13016,-1.0220,1004

In [28]:
#Rename columns
new_df.columns = ['Comment', 'Username', 'Comment_ID', 'Saltiness', 'User_ID']

#Rearrange columns, sort by ranking
order = ['Comment_ID', 'User_ID', 'Username', 'Comment', 'Saltiness']
comments_score = new_df[order]

#Housekeeping
comments_score.sort_values(by=['Username'], inplace=True)
comments_score = comments_score.reset_index()
comments_score = comments_score.drop(columns=['index'])
comments_score

,Comment_ID,User_ID,Username,Comment,Saltiness
0,4623730,1117,001sky,"He said that Google had ""commissioned"" the study but the views expressed it it were solely his a...",0.1661
1,4490940,1117,001sky,Just playing devils advocate - but who wants to be a utility?,0.3072
2,4449847,1117,001sky,"I hate, hate, hate the anti-scientific view that busted carbon promotes WAT? Are you a material...",0.9407
3,7532892,1117,001sky,Large hedge trades involve block shopping ELI5 version is that you need to pay for (1) working c...,-0.9773
4,7537739,1117,001sky,tptacek--Why are you even in this thread if you're just interjecting rhetorical questions? Both ...,0.2752
...,...,...,...,...,...
44734,21402785,1434,zokier,LibreOffice has Base which can use either embedded database system or talk to proper RDBMS like ...,-0.6203
44735,1751723,1434,zokier,"If they actually strapped an iPhone into the capsule, then it would have been interesting to cap...",-0.5259
44736,15467835,1434,zokier,> And regular people don't just have an NMR spectrometer at home. I've only watched NurdRage vid...,-0.9691
44737,17847751,1434,zokier,I would go further than that and only allow single formatting style in the language at all. Make...,0.2333
44738,8319955,1434,zokier,"It doesn't really look that impressive. Sure, the tech probably is very advanced, but the gait...",-1.1582

In [29]:
#Convert Saltiness column to percent
comments_score['Saltiness'] = comments_score['Saltiness'].apply('{:.0%}'.format)

#Moment of truth!
comments_score.head()

,Comment_ID,User_ID,Username,Comment,Saltiness
0,4623730,1117,001sky,"He said that Google had ""commissioned"" the study but the views expressed it it were solely his a...",17%
1,4490940,1117,001sky,Just playing devils advocate - but who wants to be a utility?,31%
2,4449847,1117,001sky,"I hate, hate, hate the anti-scientific view that busted carbon promotes WAT? Are you a material...",94%
3,7532892,1117,001sky,Large hedge trades involve block shopping ELI5 version is that you need to pay for (1) working c...,-98%
4,7537739,1117,001sky,tptacek--Why are you even in this thread if you're just interjecting rhetorical questions? Both ...,28%

In [ ]:
comments_score.to_sql("salty_comment", engine, if_exists='replace')

In [30]:
#new_col = ['Comment_ID', 'Saltiness']
#comment_salt = comments_score[new_col]
#comment_salt.head()

  Comment_ID Saltiness
0    4623730       17%
1    4490940       31%
2    4449847       94%
3    7532892      -98%
4    7537739       28%

In [32]:
#from sqlalchemy import create_engine
#Establish connection to database
#engine = create_engine('postgres://aecqvjqa:JTG9-DH2xUSvObwIc98hFfw3PpzQZHJo@ruby.db.elephantsql.com:5432/aecqvjqa')
#comment_salt.to_sql("comment_percent", engine, if_exists='replace')

In [ ]:
#import copy
#users_score = copy.copy(new_df)
#users_score.head()

,Comment,Username,Comment_ID,Saltiness,User_ID
0,Are you arguing that Solaris/UltraSPARC is a better real-world virtualization platform than x86?,tptacek,570269,0.0318,1000
1,"I cancelled in person, and that didn't even help. I got calls from Comcast for weeks afterward t...",reaperducer,17467211,0.8770,1001
2,"If you want an MP3-playing USB drive, there are still plenty of S1s[1]to be had for incredibly l...",userbinator,14879085,-0.9626,1002
3,"The time of CSS frameworks has really come and gone. There were four use cases, and all of those...",matt4077,14265118,-0.8991,1003
5,"Which shouldn't have quote because it wasn't what I said, and isn't even a fair reading of what ...",maxerickson,19518533,-0.3199,1004

In [ ]:
#Convert Saltiness column to percent
new_df['Saltiness'] = new_df['Saltiness'].apply('{:.0%}'.format)

#Moment of truth!
new_df.head()

,Comment,Username,Comment_ID,Saltiness,User_ID
0,Are you arguing that Solaris/UltraSPARC is a better real-world virtualization platform than x86?,tptacek,570269,3%,1000
1,"I cancelled in person, and that didn't even help. I got calls from Comcast for weeks afterward t...",reaperducer,17467211,88%,1001
2,"If you want an MP3-playing USB drive, there are still plenty of S1s[1]to be had for incredibly l...",userbinator,14879085,-96%,1002
3,"The time of CSS frameworks has really come and gone. There were four use cases, and all of those...",matt4077,14265118,-90%,1003
5,"Which shouldn't have quote because it wasn't what I said, and isn't even a fair reading of what ...",maxerickson,19518533,-32%,1004

In [ ]:
#Pretty salty comment
print(comments_score.loc[600,'Comment'])
print(comments_score.loc[600,'Saltiness'])

> At its least precise, it can be mapped only to a country. Even that isn't true. Plenty of corporations have all their IP addresses registered to their main office. In general the way these services work is that they ask the owner of the IP where they are and have no way to verify it at all. And of course there are always VPN services and proxy servers that will let you choose which country your IP address will read as being in. To say nothing of actually malicious parties that can break into a computer anywhere in the world and then make all of their traffic appear to have come from its IP address. I've also seen the IP address entries for residential ISPs be off by more than a thousand miles simply because the ISP has customers in both places and assigned customers in one place IP addresses listed in the other place. Geo IP can be useful for showing ads as long as you don't care that it's wrong some significant percentage of the time. Thinking it can be used to locate a bad actor is dangerous and absurd.
0.9027

In [ ]:
#Comment is overall positive
print(comments_score.loc[4600,'Comment'])
print(comments_score.loc[4600,'Saltiness'])

It's really hard to tell how much of the last 15 years is unusual vs the new normal. Presumably things can be adjusted for with slightly increased premiums as it's still very close to break even for now.
-0.0324

###Pushing to postgres: Comment's individual score.
####Convert pandas dataframe to SQL and load into postgres database through elephantsql.

In [ ]:
def to_postgres(df, title, engine):
    """
    Move pandas dataframe to postgresql database.

    Determines if you can query using SQLAlchemy in python.
    """
    df.to_sql(title, engine, index=False)

In [ ]:
from sqlalchemy import create_engine
#Establish connection to database
engine = create_engine('postgres://aecqvjqa:JTG9-DH2xUSvObwIc98hFfw3PpzQZHJo@ruby.db.elephantsql.com:5432/aecqvjqa')
comments_score.to_sql("salty_comment", engine, if_exists='replace')
#Convert dataframe to SQL
#to_postgres(comments_score, 'salty_comment', engine)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
#users_score.head()

In [ ]:
#Drop comment column, and groupby username
#users_score.drop(columns=['Comment_ID', 'Comment'], inplace=True)
#users_score.head()

In [ ]:
#Group together username, average saltiness
#users_score = users_score.groupby('Username', as_index=False).mean()
#users_score.head(10)

In [ ]:
#Convert Saltiness column to percent
#users_score['Saltiness'] = users_score['Saltiness'].apply('{:.0%}'.format)

#Moment of truth!
#users_score.head()

In [ ]:
#Rearrange columns, sort by ranking
#order = ['User_ID', 'Username', 'Saltiness']
#users_score = users_score[order]

In [ ]:
#users_score

In [ ]:
#users_score.to_sql("salty_comment", engine, if_exists='replace')