<a href="https://colab.research.google.com/github/e-pyrom/ds/blob/Cleaning-and-ML/User_Comments_Scores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Becca's Notebook
####Using bigquery to read in HackerNews df. Cleaning and preprocessing for use with vaderSentiment model.

In [1]:
import sys, os
cwd = os.getcwd()
sys.path[0] = cwd[:cwd.rfind('/')]

In [2]:
#Imports
import os
import numpy as np
import pandas as pd

from google.cloud import bigquery

In [3]:
#Google cloud credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS']='/content/Saltiest HN Trolls.json'

# Create a "Client" object
client = bigquery.Client()

# Bigquery dataset reference
hn_ref = client.dataset('hacker_news', project='hn-dataset')

In [4]:
# Run SQL query to obtain filtered table
query_string = """
SELECT C.by
FROM (
  SELECT A.by, COUNT(*) AS count
  FROM `bigquery-public-data.hacker_news.full` AS A
  GROUP BY A.by
  ORDER BY count DESC
  LIMIT 100
) AS C
WHERE C.by != "None"
"""

frequent_users = client.query(query_string).result().to_dataframe()

In [5]:
# This is a triple-nested query that gets a number of comments made only by the most
# frequent users.  Change the "LIMIT XXX" part of the inner-most query to tune the
# number of users.  Change the outermost "LIMIT YYY" to change the total number of comments.
query_string = """
SELECT *
FROM `bigquery-public-data.hacker_news.full` AS A
WHERE A.by IN (
  SELECT C.by
  FROM (
    SELECT A.by, COUNT(*) AS count
    FROM `bigquery-public-data.hacker_news.full` AS A
    GROUP BY A.by
    ORDER BY count DESC
    LIMIT 500
  ) AS C
  WHERE C.by != "None"
)
LIMIT 50000
"""

df = client.query(query_string).result().to_dataframe()

In [6]:
# filter out by type (keep story and comment)
df[(df['type'] == 'story') | (df['type'] == 'comment')]

                                                   title  ... deleted
0                                                   None  ...    None
1                                   Modern ClojureScript  ...    None
2                                                   None  ...    None
3                                                   None  ...    None
4                                                   None  ...    None
...                                                  ...  ...     ...
49995                                               None  ...    None
49996                                               None  ...    None
49997                                               None  ...    None
49998  NASA wants more humans to walk on the moon – a...  ...    None
49999                                               None  ...    None

[49973 rows x 14 columns]

In [7]:
# drop some columns
#drop title, has 447,218 null values 
#drop ranking, has 500000 null values
#drop score, has 446968 null values 
clean_df = df.drop(['time', 'descendants', 'deleted', 'url', 'dead', 'title', 'ranking', 'score'], axis=1)

In [8]:
#only 507 comments with 5 characters or less, upon analysis doesn't look like they provide much context, 
#not helpful for model analysis so drop comments with 5 words or less

# take only the rows whose text column's length is greater than five
# this also removes the texts that are None
clean_df = clean_df[clean_df['text'].str.len() > 5]

In [9]:
# Use BS on a single piece of text to remove strange chars and URLs and tags
from bs4 import BeautifulSoup

def clean_soup(text):
    # make a soup - this takes care of strange characters
    soup = BeautifulSoup(text, "html.parser")

    # delete <a> tags as they contain URLs -- remember <a href="url_here">
    # tags contain URLs
    for s in soup.select('a'):
       s.extract()

    # the soup contains <p> tags -- here we get rid of those and join them with spaces
    strings = soup.find_all(text=True, recursive=True)
    result = ' '.join(strings)

    return result

In [10]:
# Apply that to each comment/story text
clean_text = clean_df['text'].apply(clean_soup)

/usr/local/lib/python3.6/dist-packages/bs4/__init__.py:336: UserWarning: "https:&#x2F;&#x2F;www.pcisecuritystandards.org&#x2F;documents&#x2F;SAQ_A-EP_v3.pdf" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  ' that document to Beautiful Soup.' % decoded_markup

In [11]:
clean_df['text'] = clean_text

In [12]:
import pandas as pd
pd.options.display.max_colwidth = 100
clean_df.sample(10)

                                                                                                      text  ...      parent
34149  I think JS is in a unique position because of its availability in the browser. Sadly I can't see...  ...   4630249.0
17582  >  We all have been there: You are watching a file with tail -f, and then you need to search for...  ...   9290332.0
20472  > If individuals are willing to accept tradeoffs where they have a certain probability of windin...  ...   4424947.0
21615  If power users = pro users, and pro users = paid users, yeah, you should take notice with the pe...  ...   5740323.0
46651                                                                          Being true trumps being OK.  ...  21248877.0
12712  Even in SF not exactly everybody makes that much. And note that SF is in California, which is a ...  ...  13532297.0
10684  The worst part was that we actually did make decisions based on the confidence metric when it wa...  ...   1778208.0
45700  Yes. The business owner  listens  to feedback and can adapt his ideas, but most importantly he n...  ...  13254400.0
18498                                                                                      Maybe Jolla? :D  ...   6318989.0
31396  >is just funny Why is it that people misreading comments to call them out almost always come off...  ...   6357787.0

[10 rows x 6 columns]

In [13]:
#makes sense the parent would have some null values, if they are the first comment
clean_df.isnull().sum()

text          0
by            0
timestamp     0
type          0
id            0
parent       79
dtype: int64

###Pyrom's Notebook
####Using vaderSentiment to produce 'Saltiness' score for each Username. The higher the score, the more salty. 

####VADERSentiment is a pretrained model that processes texts and calculates their sentiment values.

In [14]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->vaderSentiment) (2020.4.5.2)

In [15]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [16]:
#Panda Settings
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [17]:
#Drop misc columns
df = clean_df.drop(columns=['timestamp', 'type', 'id', 'parent'])
#Convert to string values
df = df.astype(str)
df.head()

,text,by
0,"Like I said, to be honest I do not know if it is in any way an accurate analogy, but it seems ...",davidw
2,"Well, because heat dissipation is proportional to the square of the voltage, you end up giving u...",stcredzero
3,So?,perl4ever
4,"Yes, because beating someone for doing or thinking something is a proven way of making them stop...",TeMPOraL
5,I think downvotes are fundamentally broken. If upvotes are agree/approval and downvotes are disa...,Someone1234

In [18]:
#Slim out users with less than 1000 comments, more manageable, cuts data in half
def slim(df):
    """
    Slim out dataset to user with 1000 or more comments.

    Returns a filtered dataframe.
    """

    X = df.copy()
    X = X.groupby('by').filter(lambda x: x['by'].count()<1000)

    return X

In [19]:
#Apply function
new_df = slim(df)
print(new_df.shape)
new_df.head()

(44658, 2)

,text,by
0,"Like I said, to be honest I do not know if it is in any way an accurate analogy, but it seems ...",davidw
2,"Well, because heat dissipation is proportional to the square of the voltage, you end up giving u...",stcredzero
3,So?,perl4ever
4,"Yes, because beating someone for doing or thinking something is a proven way of making them stop...",TeMPOraL
5,I think downvotes are fundamentally broken. If upvotes are agree/approval and downvotes are disa...,Someone1234

In [20]:
#Machine Learning, using VADER Sentiment Analysis
def sentiment_score(comment):
    analyser = SentimentIntensityAnalyzer()
    
    x = 0
    score = analyser.polarity_scores(comment)
    x = x + score['pos']
    x = x + score['compound']
    x = x - score['neg'] 

    return x

In [21]:
#Apply function to 'text' column
new_df['Saltiness'] = new_df['text'].apply(sentiment_score)
new_df.head()

,text,by,Saltiness
0,"Like I said, to be honest I do not know if it is in any way an accurate analogy, but it seems ...",davidw,-0.6304
2,"Well, because heat dissipation is proportional to the square of the voltage, you end up giving u...",stcredzero,1.0085
3,So?,perl4ever,0.0000
4,"Yes, because beating someone for doing or thinking something is a proven way of making them stop...",TeMPOraL,-0.8053
5,I think downvotes are fundamentally broken. If upvotes are agree/approval and downvotes are disa...,Someone1234,0.2368

In [22]:
#Multiply Saltiness by -1, the higher the score=the more salty
new_df['Saltiness'] = new_df['Saltiness'].mul(-1)
new_df.head()

,text,by,Saltiness
0,"Like I said, to be honest I do not know if it is in any way an accurate analogy, but it seems ...",davidw,0.6304
2,"Well, because heat dissipation is proportional to the square of the voltage, you end up giving u...",stcredzero,-1.0085
3,So?,perl4ever,-0.0000
4,"Yes, because beating someone for doing or thinking something is a proven way of making them stop...",TeMPOraL,0.8053
5,I think downvotes are fundamentally broken. If upvotes are agree/approval and downvotes are disa...,Someone1234,-0.2368

In [23]:
#Convert Saltiness column to percent
new_df['Saltiness'] = new_df['Saltiness'].apply('{:.0%}'.format)

#Moment of truth!
new_df.head()

,text,by,Saltiness
0,"Like I said, to be honest I do not know if it is in any way an accurate analogy, but it seems ...",davidw,63%
2,"Well, because heat dissipation is proportional to the square of the voltage, you end up giving u...",stcredzero,-101%
3,So?,perl4ever,-0%
4,"Yes, because beating someone for doing or thinking something is a proven way of making them stop...",TeMPOraL,81%
5,I think downvotes are fundamentally broken. If upvotes are agree/approval and downvotes are disa...,Someone1234,-24%

In [24]:
#Rename columns
new_df.columns = ['Comment', 'Username', 'Saltiness']

#Rearrange columns, sort by ranking
order = ['Username', 'Comment', 'Saltiness']
comments_score = new_df[order]

#Housekeeping
comments_score.sort_values(by=['Username'], inplace=True)
comments_score = comments_score.reset_index()
comments_score = comments_score.drop(columns=['index'])

In [25]:
#Rename columns
new_df.columns = ['Comment', 'Username', 'Saltiness']

#Rearrange columns, sort by ranking
order = ['Username', 'Comment', 'Saltiness']
comments_score = new_df[order]

#Housekeeping
comments_score.sort_values(by=['Username'], inplace=True)
comments_score = comments_score.reset_index()
comments_score = comments_score.drop(columns=['index'])
comments_score

,Username,Comment,Saltiness
0,001sky,Stuff like this doesn't just pop out of nowhere. It's very clear this is the start of a campaign...,75%
1,001sky,"How do they pay the cost of shut down, if they ""can't pay"" the cost of operation? Just curious. ...",-38%
2,001sky,Seawater is not acidic. There is no such thing as 'acidification' in the literal sense. The wate...,37%
3,001sky,isn't the temperature variability of li-ion a rookie mistake? have you ever taken a camera skiin...,18%
4,001sky,I don't think this is relevant. The reason that people for the most are leaving is not politics ...,-91%
...,...,...,...
44653,zokier,Spam for $99 shim for gdb.,69%
44654,zokier,"Because the defaults come from 70's, and lots of nice stuff has added since, but nobody dared to...",-31%
44655,zokier,I don't see the need to make that distinction here. It should be trivial to port from Moblin to ...,-76%
44656,zokier,xsv for doing queries against CSV files probably belongs to the list too:,-0%
44657,zokier,Java offered no-install sandboxed apps well before the webapp craze. But of course being based o...,-8%

In [26]:
#Pretty salty comment
print(comments_score.loc[600,'Comment'])
print(comments_score.loc[600,'Saltiness'])

> Do you really believe that? Not many do - most think it is a deliberately racist strategy, and most see that quote as an explanation of it. How is it racist to remove the racist component from a policy? It's literally the exact opposite of that. That's what optimizing to reduce the amount of racism looks like -- you find things that are partly desired and partly racist and replace them with something to achieve the desired objective without discriminating based on race.
103%

In [28]:
#Comment is overall positive
print(comments_score.loc[4600,'Comment'])
print(comments_score.loc[4600,'Saltiness'])

That actually sounds like a much better policy than what was implemented in the US.  Bailing out foreign creditors to private banks was  simply a huge waste of money.
-74%

###Pushing to postgres: Comment's individual score.
####Convert pandas dataframe to SQL and load into postgres database through elephantsql.

In [29]:
def to_postgres(df, title, engine):
    """
    Move pandas dataframe to postgresql database.

    Determines if you can query using SQLAlchemy in python.
    """
    df.to_sql(title, engine, index=False)

In [31]:
from sqlalchemy import create_engine
#Establish connection to database
engine = create_engine('postgres://aecqvjqa:JTG9-DH2xUSvObwIc98hFfw3PpzQZHJo@ruby.db.elephantsql.com:5432/aecqvjqa')

#Convert dataframe to SQL
to_postgres(comments_score, 'salty_comment', engine)